<div class="embeddable-video">
  <div class="embed-responsive embed-responsive-16by9 shadow">
    <iframe class="embed-responsive-item" src="<%= embed_url %>" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <% if transcript.present? %>
  <div class="transcript mx-auto">
    <div class="accordion" id="transcript-<%= contentful_id %>">
      <div id="collapse-<%= contentful_id %>" class="collapse" aria-labelledby="heading-<%= contentful_id %>" data-parent="#transcript-<%= contentful_id %>">
        <div class="transcript-body home" data-spy="scroll">
          <%= transcript %>
        </div>
      </div>
    </div>
    <div class="transcript-box">
      <div id="heading-<%= contentful_id %>">
        <h2 class="mb-0">
          <button class="btn btn-link btn-transcript text-white" type="button" data-toggle="collapse"
            data-target="#collapse-<%= contentful_id %>" aria-expanded="false" aria-controls="collapse-<%= contentful_id %>">
            Transcript
          </button>
        </h2>
      </div>
    </div>
  </div>
  <% end %>
</div>